@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Baloo+Bhaijaan+2&family=Bree+Serif&family=Noto+Serif:ital@1&family=PT+Sans:ital@1&family=Poppins:ital,wght@1,300&family=Roboto+Slab:wght@300&family=Roboto:ital@1&family=Satisfy&family=Work+Sans:ital,wght@1,300&family=Yuji+Hentaigana+Akebono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0b141a;
  font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
}

.topbar {
  width: 100%;
  height: 12vh;
  background: rgb(32, 44, 51);
  z-index: 5;
}

.topbar h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 23px;
  padding: 10px;
  color: #e9edef;
}

.topbar h3 {
  font-family: sans-serif;
  font-size: 16px;
  padding-left: 10px;
  color: #e9edef;
}

.container {
  margin: auto;
  overflow-y: auto;
  margin: 23px;
  height: 70vh;
}

.message {
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 17px;
  padding: 8px;
  position: relative;
  margin: 18px;
  max-width: 85%;
  word-wrap: break-word;
}

.message:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}

.metadata {
  display: inline-block;
  float: right;
  padding: 0 0 0 7px;
  position: relative;
  bottom: -4px;
}

.metadata .time {
  color: rgba(0, 0, 0, .45);
  font-size: 11px;
  display: inline-block;
}

.metadata .tick {
  display: inline-block;
  margin-left: 2px;
  position: relative;
  top: 4px;
  height: 16px;
  width: 16px;
}

.metadata .tick svg {
  position: absolute;
  transition: .5s ease-in-out;
}

.metadata .tick svg:first-child {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(180deg);
  transform: perspective(800px) rotateY(180deg);
}

.metadata .tick svg:last-child {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(0deg);
  transform: perspective(800px) rotateY(0deg);
}

.metadata .tick-animation svg:first-child {
  -webkit-transform: perspective(800px) rotateY(0);
  transform: perspective(800px) rotateY(0);
}

.metadata .tick-animation svg:last-child {
  -webkit-transform: perspective(800px) rotateY(-179.9deg);
  transform: perspective(800px) rotateY(-179.9deg);
}

.message.received {
  background: #fff;
  border-radius: 0px 5px 5px 5px;
  float: left;
}

.message.received .metadata {
  padding: 0 0 0 16px;
}

.message.received:after {
  border-width: 0px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  top: 0;
  left: -10px;
}

.message.sent {
  background: #e1ffc7;
  border-radius: 5px 0px 5px 5px;
  float: right;
}

.message.sent:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #e1ffc7;
  top: 0;
  right: -10px;
}

.send {
  background: #202c33;
  padding: 12px;
  position: relative;
  bottom: 0;
  width: 100%;
}

#send-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 5px;
  text-align: center;
  max-width: 985px;
  width: 100%;
}

#messageInp {
  background: #2a3942;
  color: #e9edef;
  width: 90%;
  font-size: 15px;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 8px;
  height: 34px;
  word-wrap: break-word;
}

.btn {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50%;
  padding: 12px;
  font-size: 18px;
  background: transparent;
}

svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}